body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}
.container {
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(102, 22, 194);
  font-size: 22px;
  font-weight: 400;
  padding: 0 50px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;

  margin-right: 50px;
}
.nav-links a {
  color: rgb(102, 22, 194);
  text-decoration: none;
}
.introductory-section {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
  margin-left: 250px;
}
.intro-container {
  color: white;
  width: 600px;
  margin-top: 80px;
  margin-left: 50px;
  font-weight: 900;
  font-size: 50px;
}
.intro-container strong {
  color: rgb(128, 26, 245);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 38px;
}
.intro-container .name {
  font-size: 45px;
}
.horizontal-line {
  display: flex;
  font-size: 38px;
  font-weight: 300;
  margin-bottom: -50px;
}
.horizontal-line hr {
  width: 40%;
  height: 1px;
  background-color: white;
  margin-top: 20px;
  margin-left: 20px;
}

.introductory-section img {
  border: 5px solid rgb(45, 33, 49);

  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgb(111, 73, 216);
}
.introductory-section img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.menu {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  margin-left: 720px;
}
.menu button {
  color: rgb(238, 236, 241);
  background-color: rgba(0, 0, 0, 0.918);
  border: 2px solid rgb(111, 73, 216);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 500;
  font-size: 21px;
  box-shadow: 0px 0px 10px rgb(111, 73, 216);
}
.menu button:hover {
  background-color: rgb(71, 17, 218);
  transition: all 0.3s ease-in-out;
}
.menu .contact-button {
  background-color: rgba(0, 0, 0, 0.918);
  color: rgb(238, 236, 241);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
